{% extends "base.html" %}

{% block title %}Finscraper.com{% endblock %}

{% block content %}
    <div class="row">
        <h1 class="col-8">Change you password</h1>
        <p class="col-8">Use the form below to change your password</p>

        <form action="." method="post">
            {% csrf_token %}
            <div class="col-10">{{ form }}</div>
            <dov class="col-4">
                <button class="btn btn-outline-primary">Change</button>
                <a href="{% url 'index_url' %}" class="btn btn-outline-danger">Cancel</a>
            </dov>
        </form>
    </div>
</div>
{% endblock %}